<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="row" id="main">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="caption">DANK INVOKER GAME</h1>
        </div>
        <div class="col-md-12" id="pre-game-row">
          <h5 class="caption">Press SPACE to start</h5>

        </div>
        <div class="col-md-12" id="game-row">
          <div class="timer-wrapper">
            <div id="timer-bar">

            </div>
          </div>

          <div class="text-center" id="spell-div">

            <img src="" alt=""><br><br>
            <p class="caption"></p><br>
          </div>
          <ul class="text-center">

          </ul>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/app.min.js"></script>
  </body>
</html>
