@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;

  p {
    font-size: 16px;
  }
}


#main {
  margin-top: 20vh;


  #caption {
    text-align: center;
  }
}
