@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$main  : 'Montserrat', sans-serif;
$gameFont : 'Press Start 2P', cursive;

body {
  font-family: $main;

  p {
    font-size: 16px;
  }
}

.reddify {
  background: red;
}

.greenify {
  background: #75DE60;
}

.trans {
  transition: 0.2s width;
}


#main {
  margin-top: 20vh;


  .caption {
    font-family: $gameFont;
    text-align: center;
  }

  #pre-game-row {
    margin-top: 10vh;
  }
  #game-row {
    margin-top: 10vh;


    ul {
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;

        img {
          height: 75px;
        }
      }
    }

    .timer-wrapper {
      padding-left: 30vw;
      padding-right: 30vw;
      margin-bottom: 5vh;
    }


    #timer-bar {
      width: 100%;
      height: 5px;
      background: red;
    }




    #spell-div {

      img {
        height: 75px;
        border-radius: 5px;
      }
    }
  }
}
